.profile
  %h2
    Alex Luce

  %h3.page-header Owed

  %ul
    %li.iou
      %h4 John Doe
      %span.badge.badge-success $12.00
      %strong.label.label-important Due 12/4/13
      %a.btn{href: "#"} Details

  %ul
    %li.iou
      %h4 Jane Brown
      %span.badge.badge-success $12.00
      %strong.label.label-important Due 12/4/13
      %a.btn{href: "#"} Details

  %ul
    %li.iou
      %h4 Sean Green
      %span.badge.badge-success $12.00
      %strong.label.label-important Due 12/4/13
      %a.btn{href: "#"} Details

  %h3.page-header Owing