%h2.page-header Hello, #{@user.fname}
%h4 You owe:

-@iou_owe.each do |i|
  .iou
    %a.btn.btn-small.btn.btn-inverse{:href => "/profile/#{i.creditor.id.to_s}"}=i.creditor.full_name
    is owed
    %strong.badge.badge-important
      $
      =i.amount
    %br

%h6
  Total:
  .badge.badge-important
    $
    =totals(@iou_owe)

%h4 And you are owed:

-@iou_owed.each do |p|
  .iou
    %a.btn.btn-small.btn.btn-inverse{:href => "/profile/#{p.debitor.id.to_s}"}=p.debitor.full_name
    owes you
    %strong.badge.badge-success
      $
      =p.amount
    %br

%h6
  Total:
  .badge.badge-success
    $
    =totals(@iou_owed)